<div class="main">
    <div *ngFor="let hm of basics" style="padding: 10px;">
        
    <div>
        <h4>{{hm.title}}</h4>
    </div>
    <div *ngFor="let hm of hm.description">
        
        <p>{{hm}}</p>
    </div>
    <div *ngFor="let hm of hm.skillDetails">
        <p>{{hm.name}}</p>
    </div>

</div>
</div>