<div style="display: inline-flex;width: 100%;text-align: center;padding-left: 11rem;" >
    <div class="menu" *ngFor="let hm of data"> 
        <h6   (click)="getVal(hm)">{{hm.name}}</h6>
    </div>
</div>