
<div class="main">
    <div>
        <h3>{{basics.name}}</h3>
    </div>
    <div *ngFor="let hm of basics.summary">
        
        <p>{{hm}}</p>
    </div>
    <div>
        <h3>Contact Details</h3>
    </div>
    
    <div >
        <p>{{basics.name}}</p>
    </div>
    <div >
        <p>{{basics.email}}</p>
    </div>
    <div >
        <p>{{basics.phone}}</p>
    </div>
    <div >
        <p>{{basics.website}}</p>
    </div>
    
    <div >
        <p>{{contact.address}}</p>
    </div>
    <div >
        <p>{{contact.city}},{{contact.postalCode}}</p>
    </div>
   
</div>