<div class="main">
    <div *ngFor="let hm of basics">
        
    <div>
        <h4>{{hm.company}}</h4>
    </div>
<div style="display: inline-flex;">
    <li>{{hm.position}}</li>
    <li>{{hm.summary}}</li>
    <li>{{hm.startDate}}-{{hm.endDate}}</li>
</div>

    <!-- <div *ngFor="let hm of hm.description">
        
        <p>{{hm}}</p>
    </div>-->
    <div *ngFor="let hm of hm.highlights">
        <p>{{hm}}</p>
    </div>

</div>
</div>