<div class="MainDashboardContainer">
  <div class="NavbarContainer">
    <app-navbar></app-navbar>
  </div>
  

    <div class="InnerMainContainer">
      <div style="width: 10%;background-color: rgb(70, 67, 67);">
        <app-sidebar></app-sidebar>
      </div>
      <div style="width: 90%;background-color: rgb(41, 40, 40);">
        <router-outlet></router-outlet>
      </div>
      
    </div>

  </div>


<!-- 
<app-home></app-home>
<router-outlet></router-outlet> -->