.MainDashboardContainer{
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: rgb(49, 47, 47);
}
.NavbarContainer{
    width: 100%;
    height: 5%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(49, 47, 47);
}
.InnerMainContainer{
    width: 100%;
    height: 95%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    background-color: rgb(202, 184, 184);
}