<div class="main" *ngFor="let hm of education">
    <div>
        <h4>{{hm.institution}}</h4>
    </div>
    <div style="display: inline-flex;">
        <li>{{hm.area}}</li>
        <li>{{hm.summary}}</li>
        <li>{{hm.startDate | date}}-{{hm.endDate | date}}</li>
    </div>
    <br>
    <div *ngFor="let hm of hm.courses" style="display: inline-flex;width: 40%;">
        <li style="color: rgb(136, 136, 138);font-size: 14px;text-align: left;"> {{hm}}</li>
        <!-- <p </p> -->
    </div>
</div>