<div class="main">
    <div *ngFor="let hm of basics" style="padding: 10px;">
        
    <div>
        <h2>{{hm.name}}</h2>
    </div>
    <div>
        <h3>{{hm.position}}</h3>
    </div>
    <div>
        <h4>{{hm.company}}</h4>
    </div>
    <div >
        <p>{{hm.reference}}</p>
    </div>
    
</div>
</div>